  <table class="table table-hover">
    <tr><td>Clients online:</span></td><td><span id='clients_online'></span></td></tr>
    <tr><td>Max response time, ms:</td><td><span id='max_res_time'></span></td></tr>
    <tr><td>Ops failures:</td><td><span id='failures'></span></td></tr>
    <tr><td>Login failures:</td><td><span id='xxx'></span></td></tr>
  </table>