
<div style='text-align:center;'>
	<div id="visualization"></div>
	<div id='loader' style='display:none;'><p><%= image_tag "gears.gif" %></p></div>
	<div id="dataset"></div>
	<div style='display:none' id='token'><%= @token%></div>
</div>
