<style>
	.sms{color:#E99F46;};
</style>
<ul class="nav navbar-stacked">
  <div style='margin-top:10px;'>
  <button type="button" class="btn btn-default"  style="width:90%; background-color:#8DB694;" name='intercept'>Start Real-time Interception</button>
</div>
  <!--li><a href="#" class='sms'>Schedule messages</a></li>
  <li><a href="#" class='sms'>Add session</a></li>
  <li class="dropdown"><a class="dropdown-toggle sms" href="#" data-toggle="dropdown">Select PSAP to text <b class="caret"></b></a>
  <ul class="dropdown-menu">
  	<li><a href="#">Sonoma county</a></li>
    <li><a href="#">Harris county</a></li>
    <li><a href="#">King county</a></li>
	<li role="separator" class="divider"></li>
	<li><a href="#" >Test PSAP online</a></li>
    </ul>
  </li>
  <li><a href="#" class='sms'>Respond to 911 text</a></li>
  <li><a href="#" class='sms'>Take PSAP offline</a></li-->
</ul>