
<div class="row"><%= render 'meters' %></div>  
<div style='display:none' id='jwt'></div>  
<div class='row'>
  <div class="col-md-3"><%= render 'controls' %></div>
  <div class="col-md-9"><%= render 'realtime' %></div>
</div>






