<p>&nbsp;</p>
<div class='col-md-8 column' style='height:40px;vertical-align:top;'>&copy;2016 Comtech Telecommunications Corp. All rights reserved.</div>
<div class='col-md-4 column' style='text-align:right;'><%= image_tag("comtech.jpg", size: '146x30')%></div>