

<ul class="nav nav-tabs">
	<li role="presentation" class="active"><a href="#">Simulation</a></li>
	<li role="presentation"><a href="#">Connections</a></li>
	<li role="presentation"><a href="#">Analytics</a></li>
</ul>

